{% include 'header.html'%}
{% include 'banner.html'%}


<div class="container">
    
    <div class="container_settings">
        <div class="left_ribbon">

            <nav>
                <a href="" onclick="tabs(0);" class="tab"><i class="bi bi-person"></i>Test</a>
                <a href="" onclick="tabs(1)" class="tab"></a>
                <a href="" onclick="tabs(2)" class="tab"></a>
                <a href="" onclick="tabs(3)" class="tab"></a>
                <a href="" onclick="tabs(4)" class="tab"></a>
            </nav>

        </div>

        <div class="right_settings">

        </div>
    </div>

</div>