.container_settings{
    background: #fff;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
}

.left_ribbon{
    float: left;
    top: -2.5%;
    left: 5%;
    position: absolute;
    width: 18%;
    height: 105%;
    background: var(--primary-blue);
    box-shadow: 3px 3px 10px rgba(119, 119, 1191, 0.5);
    border: .15em solid var(--primary-yellow);
}

nav#settings-side-nav a{
    list-style: none;
    text-decoration: none;
    padding: 40px;
    color: #fff;
    font-size: 1.1em;
    display: block;
    transition: all .3s ease-in-out;
    margin-top: 10px;

}

nav#settings-side-nav a:first-child{
    margin-top: 25%;
}

.tab > .bi{
    font-size: 1.3em;
}

nav#settings-side-nav a:hover{
    color: var(--primary-black);
    cursor: pointer;
    background: var(--primary-yellow);
    transform: scale(1.1);
}

nav#settings-side-nav a.active{
    color: var(--primary-black);
    background: var(--primary-yellow);
}


.right_settings{
    width: 60%;
    margin-left: 30%;
}

.tabShow{
    transition: all .5s ease-in;
    width: 90%;
    display: none;
}

.tabShow>h1{
    font-size: 2.5rem;
    padding-top: 40px;
    margin-bottom: 35px;
}

.tabShow h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 30px;
}

.tabShow input{
    border: 0;
    border-bottom: 1px solid var(--primary-blue);
    width: 80%;
    font-size: 1.1em;
    padding: 7px 0;
    color: #070707;
    outline: none;
}

.tabShow input[type="number"]{
    width: 20%;
}

.tabShow select{
    border: 0;
    border-bottom: 1px solid var(--primary-blue);
    width:20%;
    font-size: 1.1em;
    padding: 7px 0;
}

.tabShow label{
    font-size: 1.1em;
}

